@page "/categories"
@inject HttpClient Http

<h1>Categories</h1>

@if (categories == null) {
    <p>Loading...</p>
}
else {
    <ul>
        @foreach (var category in categories) {
            <li>@category.NameEn</li>
        }
    </ul>
}

@code {
    private List<Category> categories;

    protected override async Task OnInitializedAsync() {
        categories = await Http.GetFromJsonAsync<List<Category>>("https://localhost:7262/api/Categories");
    }
}
