@page "/"
@inject IJSRuntime jsRuntime

<PageTitle>Math Visualized 2</PageTitle>

<h1>Math Visualized 2</h1>

<div id="anim"></div>

<div>
    <div>
        <span>Sine:</span> <span id="sine"></span>
    </div>
    <div>
        <span>Cosine:</span> <span id="cosine"></span>
    </div>
    <div>
        <span>Angle:</span> <span id="angle"></span>
    </div>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender) {
            await jsRuntime.InvokeVoidAsync("runIndex");
        }
    }
}
