@implements IDisposable

@inject LoginStateContainer LoginStateContainer

<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="container-fluid">
        <ul class="navbar-nav">
            @if (!string.IsNullOrEmpty(LoginStateContainer.UserName))
            {
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Admin View</a>
                </li>

                <li class="nav-item ps-3" @onclick="LogOut">
                    <a class="nav-link"><span class="oi oi-power-standby"></span> Log Out</a>
                </li>
            }
        </ul>
    </div>
</nav>

@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();

        LoginStateContainer.LoginDataChanged += StateHasChanged;
    }

    private void LogOut()
    {
        LoginStateContainer.LogOut();
    }

    public void Dispose()
    {
        LoginStateContainer.LoginDataChanged -= StateHasChanged;
    }
}
