@using DotNetMath3.UI.Components

@implements IDisposable

@inject HttpClient Http
@inject StateContainer StateContainer

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Math Visualized 2</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <div class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        @if (string.IsNullOrEmpty(StateContainer.UserName))
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/login">
                    <span class="oi oi-key" aria-hidden="true"></span> Login
                </NavLink>
            </div>
        }
        else
        {
            <div class="nav-item px-3 logged-in-name m-3">
                <span class="oi oi-person" aria-hidden="true"></span> Hello, @StateContainer.UserName
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" @onclick="LogOut">
                    <span class="oi oi-power-standby"></span> Log out
                </NavLink>
            </div>
        }

        @if (categories != null) {
            @foreach (var category in categories)
            {
                <CollapsibleMenuItem Category="category" />
            }
        }
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private List<Category> categories;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        StateContainer.OnChange += StateHasChanged;

        categories = await Http.GetFromJsonAsync<List<Category>>("https://localhost:7262/api/Categories");
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void LogOut()
    {
        StateContainer.UserName = string.Empty;
        StateContainer.JWTToken = string.Empty;
    }

    public void Dispose()
    {
        StateContainer.OnChange -= StateHasChanged;
    }
}
